@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
body {
	/* height: 80vh; */
	background: #030303;
}
.container {
	height: 50vh;
}
.row {
	position: relative;
	top: 10%;
}

h1,
h2 {
	color: white;
	font-family: 'Bowlby One SC', cursive;
}
h5 {
	color: white;
}
a {
	color: yellow;
}
